*{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  
}


.loading-screen{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: #f2709c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff9472, #f2709c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff9472, #f2709c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-screen img{
  width: 150px;
  height: 150px;
}

.loading-screen-first-text{
  width: 180px;
}


.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
  background-color: unset !important;
  background: #f2709c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff9472, #f2709c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff9472, #f2709c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-shadow: unset !important;
}

#container {
  width: 500px;
  margin: auto !important;
  display: block;
  height: 500px;
  position: relative;
  list-style-type: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.buddy {
  display: none;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  color: #fff;
  padding: 20px;
  width: 450px;
  height: 560px;
  top: 50px;
  text-align: center;
  position: absolute;
  cursor: hand;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.rotate-left {
  transform: rotate(30deg) scale(0.8);
  transition: 1s;
  margin-left: 400px;
  cursor: e-resize;
  opacity: 0;
  z-index: 10;
}
.rotate-right {
  transform: rotate(-30deg) scale(0.8);
  transition: 1s;
  opacity: 0;
  margin-left: -400px;
  cursor: w-resize;
  z-index: 10;
}
.avatar {
  background: #222;
  width: 440px;
  height: 500px;
  display: block;
  margin-top: 5px;
  margin-left: 5px;
  background-size: auto 160% !important;
  background-position: center;
 background-repeat: no-repeat;
 border-radius: 10px;
}
.like {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid green;
  color: green;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  right: 40px;
  text-shadow: none;
}
.dislike {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid red;
  color: red;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  left: 40px;
  text-shadow: none;
}
.budy-text{
  position: absolute;
  top: 440px;
  left: 50px;
  width: 80%;
}
h1{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  font-weight:500;
  text-align: left;
  text-shadow: 0 1px 0 #f3f3f3;
}

h2{
  font-size: 20px;
  font-weight: 300;
  text-align: start;
  text-shadow: 0 1px 0 #f3f3f3;
}

h3{
  margin-left: 20px;
  font-size: 36px;
  color: black;
}

p{
  font-weight: 200;
}
span{
  font-size: 18px;
  font-weight: 300;
  margin-left: 5px;
}

.budy-text-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-info-circle{
  font-size: 20px;
  cursor: pointer;
}

.fa-times{
  color: #cb2d3e;  /* fallback for old browsers */
color: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
color: linear-gradient(to right, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-size: 30px;
}

.fa-star{
  font-size: 30px;
  color: #4fa2da;  /* fallback for old browsers */
color: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
color: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fa-heart{
  font-size: 30px;
  color: #24aca0;  /* fallback for old browsers */
  color: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



.info-hidden{
  height: 100px;
  width: 90%;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  bottom: 75px;
  left: 25px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px ;
  transition: all .5s ease-in-out;
}

.info-hidden-content{
  padding-left: 14px;
  padding-right: 14px;
  height: 100%;
  display: flex;
  align-items: center;
}

.icon-bg{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: all .5s ease-in-out;
}

.icon-bg:hover{
  
  transform: scale(1.1);
}

.buddy-icon{
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  margin-top: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 500px){
  .buddy{
    width: 300px;
    height: 430px;
    top: 15%;
    left: 8%;
  }
  .buddy-icon{
    width: 70%;
  }

  .budy-text{
    top: 320px;
    left: 35px;
  }

  h1{
    font-size: 22px;
  }

  h2{
    font-size: 18px;
  }

  p{
    font-size: 14px;
  }

  .info-hidden{
    width: 85%;
    bottom: 65px;
  }
  .avatar{
    width: 290px;
    height: 380px;
  }
}